*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* variables */
    /* colors */
    --brand-color: #EF5F4C;
    --bg-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparent: #ffffff56;
    --text-primary: #313131;
    --text-secondary: #6C6C6C;

    /* fonts */
    --heading: 2rem;
    --paragraph-md: .875rem;
    --paragraph-sm: .75rem;
    --hd-lh: 1.25;
    --pg-lh: 1.70;
    --fw-regular: 500;
    --fw-bold: 700;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--text-secondary);
    padding: 2rem 1.5rem;
}

h1 {
    font-size: var(--heading);
    line-height: var(--hd-lh);
    color: var(--text-primary);
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: var(--brand-color);
        text-decoration: underline;
    }
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.gap-2 {
    gap: 2rem;
}

.gap-1\.5{
    gap: 1.5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-\.5 {
    gap: .5rem;
}

.item-center {
    align-items: center;
}

header {
    justify-content: space-between;
    padding-bottom: 1.25rem;

    .img-logo {
        height: 2.5rem;

        & a {
            margin: .25rem;
        }
    }
    
    & .explore-wrapper {
        & a {
            height: 2rem;
            padding: .25rem;
        }

        & #menu-icon {
            width: 1.5rem;
            height: 1.5rem;
        }

        #prof-pic {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}

.about-container {
    padding-block: 2rem;
    justify-content: space-between;

    & .about-bio {
        flex-direction: column;

        p {
            font-size: var(--paragraph-md);
            line-height: var(--pg-lh);
        }
    }

    & .travel-wrapper {
        width: 17.5rem;
        flex-direction: column;
        align-self: center;

        & div {
            height: 1.5rem;
        }

        & img {
            width: 1.5rem;
            height: 1.5rem;
        }

        p {
            font-size: var(--paragraph-md);
            line-height: var(--pg-lh);
        }
    }
}

.image-wrapper {
    flex-wrap: wrap;
    padding-block: 1.5rem;
    justify-content: center;
    
    & div {
        width: 17.875rem;
        height: 17.875rem;
    }
}